{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">

    <!-- font -->
    <link rel="stylesheet" href="{% static 'home/fonts/fonts.css' %} ">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'home/fonts/font-icons.css' %} ">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %} ">
    <link rel="stylesheet"type="text/css" href="{% static 'home/css/styles.css' %} "/>

   
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'home/images/logo/48.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'home/images/logo/48.png' %}" />

    <title>Profile</title>
    <style>
        .preload-logo {
            background-size: 200%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body class="app-wallet">
    <!-- preloade -->
    <div class="preload preload-container">
        <div class="preload-logo" style="background-image: url('{% static 'home/images/znew/logo.PNG' %}')">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /preload -->

    <div class="header-style2 fixed-top bg-menuDark">
        <div class="d-flex justify-content-between align-items-center">
            <a class="box-account" href="{% url 'profile' %}">
                <img src="{% static 'home/images/avt/avt2.jpg' %} " alt="img" class="avt">
                <div class="info">
                    <p class="text-xsmall text-secondary">Welcome back!</p>
                    {% comment %} <h5 class="mt-4">Tony Nguyen</h5> {% endcomment %}
                    <h5 class="mt-4">{{user.first_name}}</h5>

                </div>
            </a>
            <div class="d-flex align-items-center gap-8">
                <a href="{% url 'awards' %}" class="icon-gift"></a>
                <a href="#notification" class="icon-noti box-noti" data-bs-toggle="modal"></a>
            </div>
        </div>
    </div>
    <div class="pt-68 pb-80 bg-menuDark">
        <div class="sdfgjkl">
            <img style="width: 100px;" src="/static/home/images/znew/coin.PNG" alt="">
            <h3>Tetra Game gone!</h3>
        </div>
        <div class="bg-menuDark tf-container">
            <div class="pt-12 pb-12 mt-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Latest recipient</h5>
                    <a href="#recipient" data-bs-toggle="modal" class="text-secondary">View All</a>
                </div>
                <ul class="mt-16 grid-5 gap-12">
                    {% if not invitees5  %}
                        <p>invite is None</p>
                    {% endif %}
                    {% for invite in invitees %}
                    <li>
                        <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                            <img src="{% static 'home/images/avt/avt3.jpg' %} " alt="img" class="box-round">
                            <p class="text-center">{{invite.user.first_name}}</p>
                        </a>
                    </li>
                    {% endfor %}

                    {% comment %} <li>
                        <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-8 align-items-center">
                            <img src="{% static 'home/images/avt/avt4.jpg' %} " alt="img" class="box-round">
                            <p class="text-center">Wade Warren</p>

                        </a>
                    </li>
                    <li>
                        <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-8 align-items-center">
                            <img src="{% static 'home/images/avt/avt5.jpg' %} " alt="img" class="box-round">
                            <p class="text-center">Jenny Wilson</p>
                        </a>
                    </li>
                    <li>
                        <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-8 align-items-center">
                            <img src="{% static 'home/images/avt/avt6.jpg' %} " alt="img" class="box-round">
                            <p class="text-center">Jenny Wilson</p>
                        </a>
                    </li>
                    <li>
                        <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-8 align-items-center">
                            <img src="{% static 'home/images/avt/avt7.jpg' %} " alt="img" class="box-round">
                            <p class="text-center">Robert Fox</p>
                        </a>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="bg-menuDark tf-container">
            <div class="tf-tab pt-12 mt-4">
                <div class="tab-slide">
                    <ul class="nav nav-tabs wallet-tabs" role="tablist" >
                        <li class="item-slide-effect"></li>
                        <li class="nav-item active" role="presentation">   
                            <button class="nav-link active"  data-bs-toggle="tab" data-bs-target="#history">Sent</button>
                        </li>
                        <li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#market">Received</button>
						</li>
                        
                        
                    </ul>
                </div>
                <div class="notfornow">
                    <h2>Not For Now!</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="menubar-footer footer-fixed">
        <ul class="inner-bar">
            <li class="rgto">
                <a href="{% url 'home' %}">
                    <img style="width: 50px;" src="{% static 'home/images/znew/1.png' %}" alt="">
                    Home
                </a>
            </li>
            <li class="rgto">
                <a href="{% url 'lunch_game' %}">
                    <img style="width: 40px;" src="{% static 'home/images/znew/2.png' %}" alt="">
                    Game
                </a>
            </li>
            <li class="rgto">
                <a href="{% url 'invition' %}">
                    <img style="width: 45px;" src="{% static 'home/images/znew/3.png' %}" alt="">
                    Invitation
                </a>
            </li>
            <li class="active">
                <a href="{{profile}}">
                    <img style="width: 40px;" src="{% static 'home/images/znew/4.png' %}" alt="">
                    Profile
                </a>
            </li>
        </ul>
    </div>
    <!-- recipient -->
    <div class="modal fade modalRight" id="recipient">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
                    <span class="left" data-bs-dismiss="modal"  aria-hidden="true"><i class="icon-left-btn"></i></span>
                    <h3>Latest recipient</h3>
                </div>
                <div class="overflow-auto pt-45 pb-16">
                    <div class="tf-container">
                        <ul class="mt-12 grid-4 rg-16 cg-25">
                            {% if not invitees5  %}
                            <li>
                                <p>invite is None</p>
                            </li>
                            {% endif %}
                            {% for invite in invitees %}
                            
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt7.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">{{invite.user.first_name}}</p>
                                </a>
                            </li>
                            {% endfor %}
                            {% comment %} <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt8.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Wade Warren</p>
        
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt5.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Esther Howard</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt9.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Jenny Wilson</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt10.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Arlene McCoy</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt11.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Eleanor Pena</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt12.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Esther Howard</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt13.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Theresa Webb</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt14.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Ronald Richards</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt15.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Robert Fox</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt16.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">William son</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt17.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Kristin Watson</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt18.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Brooklyn Sim</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt19.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Guy Hawkins</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt20.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Dianne Russell</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt2.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Marvin Kinney</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt21.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Darrell Steward</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt22.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Court Henry</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt23.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Kathryn Murphy</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt24.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Annette Black</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt25.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Jenny Wilson</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt26.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Jane Cooper</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt27.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Bessie Cooper</p>
                                </a>
                            </li>
                            <li>
                                <a href="choose-payment.html" class="tf-list-item d-flex flex-column gap-4 align-items-center">
                                    <img src="{% static 'home/images/avt/avt28.jpg' %} " alt="img" class="box-round">
                                    <p class="text-center">Savan Nguyen</p>
                                </a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- notification -->
    <div class="modal fade modalRight" id="notification">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
                    <span class="left" data-bs-dismiss="modal"  aria-hidden="true"><i class="icon-left-btn"></i></span>
                    <h3>Notification</h3>
                </div>
                <div class="overflow-auto pt-45 pb-16">
                    <div class="tf-container">
                        <ul class="mt-12">
                            {% for notification in user_notifications %}
                            
                            {% if notification.is_read %}
                                <li id="{{ notification.id }}" style="opacity: .5;">
                            {% else %}
                            <li id="{{ notification.id }}" style="opacity: 1;">
                            {% endif %}
                                <a href="#" class="noti-item bg-menuDark">
                                    <div class="pb-8 line-bt d-flex">
                                        <p class="text-button fw-6">{{ notification.notification.description }}</p>
                                        <i class="dot-lg bg-primary"></i>
                                    </div>
                                    <span class="d-block mt-8">
                                        <time class="notification-time" datetime="{{ notification.timestamp|date:'c' }}">
                                            {{ notification.notification.get_time_ago }}
                                        </time>
                                    </span>
                                </a>
                            </li>
                            {% empty %}
                                <li>No notifications available.</li>
                            {% endfor %}
                        </ul>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                // هنگامی که کاربر روی لینک با کلاس 'box-noti' کلیک می‌کند
                                document.querySelector('.icon-noti').addEventListener('click', function() {
                                    // جمع‌آوری آیدی‌های تگ‌های <li> درون <ul>
                                    let notificationIds = [];
                                    document.querySelectorAll('ul.mt-12 li').forEach(function(item) {
                                        notificationIds.push(item.id);  // اضافه کردن آیدی‌های تگ li به آرایه
                                    });
                            
                                    // ارسال آیدی‌ها به سرور با استفاده از AJAX
                                    fetch('/notifications/mark_notifications_as_read/', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': getCookie('csrftoken')  // اگر از Django استفاده می‌کنید
                                        },
                                        body: JSON.stringify({ids: notificationIds})
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log('Response:', data);
                                        // اگر موفقیت‌آمیز بود، عملیات‌های دیگر (مانند بستن مدال یا تغییرات UI) را انجام دهید
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                                });
                            
                                // تابع برای دریافت CSRF token در Django
                                function getCookie(name) {
                                    let cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        let cookies = document.cookie.split(';');
                                        for (let i = 0; i < cookies.length; i++) {
                                            let cookie = cookies[i].trim();
                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }
                            });
                            </script>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

    <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'home/js/main.js' %} "></script>

   
    
</body>

</html>