{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <!-- font -->
    <link rel="stylesheet" href="fonts/fonts.css">
    <!-- Icons -->
    <link rel="stylesheet" href="fonts/font-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home/css/swiper-bundle.min.css' %} ">
    <link rel="stylesheet"type="text/css" href="{% static 'home/css/styles.css' %} "/>

   
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'home/images/logo/48.png' %} " />
    <link rel="apple-touch-icon-precomposed" href="{% static 'home/images/logo/48.png' %} " />

    <title>earn</title>
    <style>
        .preload-logo {
            background-size: 200%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <!-- preloade -->
    <div class="preload preload-container">
        <div class="preload-logo" style="background-image: url('{% static 'home/images/znew/logo.PNG' %}')">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- /preload -->

    <div class="header-style2 fixed-top d-flex align-items-center justify-content-between">
        <h3>Invition</h3>
    </div>
<div class="element-sh">
    <div class="pt-55 pb-80">
        <div class="tf-container">
            <div class="tf-container">
                <div class="pt-12 pb-12 mt-4">
            
                    <div class="swiper tf-swiper swiper-wrapper-r mt-16" data-space-between="16" data-preview="2.8" data-tablet="2.8" data-desktop="3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img style="border-radius: 13px;" src="{% static 'home/images/znew/IMG_6449.JPG' %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img style="border-radius: 13px;" src="{% static 'home/images/znew/IMG_6446.JPG' %}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img style="border-radius: 13px;" src="{% static 'home/images/znew/IMG_6448.JPG' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="mt-20">Create & sell your Wallet</h5>
            {% comment %} <div class="swiper tf-swiper swiper-wrapper-r mt-12" data-space-between="12" data-preview="1.3" data-tablet="2.3" data-desktop="3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img style="border-radius: 10px;margin-top: 3%;" src="{% static 'home/images/banner/tetris2.jpg' %} " alt="">
                    </div>
                    <div class="swiper-slide">
                        <img style="border-radius: 10px;margin-top: 3%;" src="{% static 'home/images/banner/tetris2.jpg' %}" alt="">
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="share-telegram">
            
                <!-- لینک اشتراک -->
                <input class="share-telegram2" onclick="shareLink()" id="shareLink" type="text" value="t.me/tetragame_bot?start={{invite_code}}" readonly>
            
                <!-- دکمه ارسال تلگرام -->
                <button class="share-telegram4" onclick="shareToTelegram()">
                    send
                </button>
            </div>
            
            <script>
                // تابع کپی لینک
                function copyLink() {
                    const link = document.getElementById("shareLink");
                    link.select();
                    link.setSelectionRange(0, 99999); // برای موبایل
                    navigator.clipboard.writeText(link.value);
                    alert("لینک کپی شد!");
                }
            
                // تابع اشتراک‌گذاری
                function shareLink() {
                    alert("لینک آماده برای اشتراک‌گذاری است!");
                }
            
                // تابع ارسال به تلگرام
                function shareToTelegram() {
                    const link = document.getElementById("shareLink").value;
                    const telegramUrl = `https://t.me/share/url?url=${encodeURIComponent(link)}`;
                    window.open(telegramUrl, "_blank");
                }
            </script>
            
            <div class="mt-20">
                <ul class="menu-tab-v3" role="tablist">
                    <li class="nav-link active" data-bs-toggle="tab" data-bs-target="#cryptocurrency"  role="tab" aria-controls="cryptocurrency" aria-selected="true">
                        your Invition    
                    </li>
                </ul>
                <div class="tab-content mt-16 mb-16">
                    <div class="tab-pane fade show active" id="cryptocurrency" role="tabpanel">
                        <ul>
                            {% if not invitees5  %}
                            <li>
                                <p>No one has been invited by you.</p>
                            </li>
                            {% endif %}
                            {% for invite in invitees5 %}
                            {% with invite.coin_amount|percentage_difference:current_user.coin_amount as diff %}
                                <li class="mt-16">
                                    <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                        <img src="{% static 'home/images/coin/coin-6.jpg' %}" alt="img" class="img">
                                        <div class="content">
                                            <div class="title">
                                                <p class="mb-4 text-button">{{ invite.user.first_name }} {{ invite.user.last_name }}</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-12">
                                                <span class="text-small">{{ invite.coin_amount }}</span>
                                                <span class="coin-btn {% if diff < 0 %}decrease{% else %}increase{% endif %}">
                                                    {{ diff }}%
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                        
                        
                            {% comment %} <li class="mt-16">
                                <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                    <img src="{% static 'home/images/coin/coin-7.jpg' %}" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">arb_ETH</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span class="text-small">$1.878,80</span>
                                            <span class="coin-btn increase">+1,62%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                    <img src="{% static 'home/images/coin/coin-8.jpg' %}" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">WBTC</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span class="text-small">$30.001,96</span>
                                            <span class="coin-btn decrease">-1,64%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                    <img src="{% static 'home/images/coin/coin-3.jpg' %}" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">ARB</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span class="text-small">$1,11</span>
                                            <span class="coin-btn increase">+3,71%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                    <img src="{% static 'home/images/coin/coin-9.jpg' %}" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">WETH</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span class="text-small">$1.878,56</span>
                                            <span class="coin-btn decrease">-1,62%</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mt-16">
                                <a href="choose-payment.html" class="coin-item style-2 gap-12">
                                    <img src="{% static 'home/images/coin/coin-10.jpg' %}" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-button">MATIC</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-12">
                                            <span class="text-small">$0,666</span>
                                            <span class="coin-btn decrease">-1.2%</span>
                                        </div>
                                    </div>
                                </a>
                            </li> {% endcomment %}
                        </ul>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div class="menubar-footer footer-fixed">
        <ul class="inner-bar">
            <li class="rgto">
                <a href="{% url 'home' %}">
                    <img style="width: 50px;" src="{% static 'home/images/znew/1.png' %}" alt="">
                    Home
                </a>
            </li>
            <li class="rgto">
                <a href="{% url 'lunch_game' %}">
                    <img style="width: 40px;" src="{% static 'home/images/znew/2.png' %}" alt="">
                    Game
                </a>
            </li>
            <li class="active rgto">
                <a href="{{invition}}">
                    <img style="width: 45px;" src="{% static 'home/images/znew/3.png' %}" alt="">
                    Invitation
                </a>
            </li>
            <li>
                <a href="{% url 'profile' %}">
                    <img style="width: 40px;" src="{% static 'home/images/znew/4.png' %}" alt="">
                    Profile
                </a>
            </li>
        </ul>
    </div>

    
    

    <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/main.js' %}"></script>

   
    
</body>

</html>